<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars</a></p>
    </div>
   
    <div class="row">
        <div class="col-md-12">
        <h2 style="font-size:30px; font-weight:bold">Most recentMars News</h2>
        <h4>{{ data.title }}</h4>
        <p>{{ data.body }}</p>
    </div>

    <div class="row">
        <div class="col-md-8" id="feat-img">
        <h2 class="center" style="font-size:30px; font-weight:bold">Mars Featured Image</h2>
        <img src="{{ data.mars_img }}" alt="Currently Featured Mars Image" width= 800px height= 500px vspace= 10px hspace=80px >
        </div>
        <div class="col-md-4">
            <div class= "card border secondary">
                <div class= "card body">
                    <h3 class= "card title" style="font-size:25px; font-weight:bold">Information</h3>
                    <p class= "card text"> 
                        {{ data.table }}</p>
                </div>
            </div>    
        </div>
    </div>
    <div class="row justify-content-center">
        <div class= "col-md-12">
            <h2 class= "text-center" style="font-size:30px; font-weight:bold">Mars Hemispheres</h2>
        </div>
            {% for hemisphere in data.hemisphere_image_urls %}
                <div class= "col-md-3">
                    <div class="thumbnail">
                        <img src="{{ hemisphere.img_url }}" width= 400px height= 400px>
                        <div class= "card body">
                                <b class= "card text"> {{ hemisphere.title }}</b>
                        </div>  
                    </div>         
                </div>
            {% endfor %}
    </div>       
  </div>

</body>

</html>